.display_container {
  font-size: 30px;
  width: 120vh;
  display: table;
  border: 2px solid black;
}

p {
  display: inline-block;
}

.volume_display {
  width: 45%;
  padding: 10px 15px;
  display: table-cell;
  text-align: center;
}

.key_display {
  display: table-cell;
  text-align: center;

  width: 45%;
}

.playing {
  opacity: 0;
  height: inherit;
  margin: auto 0;
}
.played {
  animation-name: changeOpacity;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}

@keyframes changeOpacity {
  0% {
    opacity: 0;
    color: brown;
  }
  50% {
    opacity: 1;
    color: black;
  }
  100% {
    opacity: 1;
    color: red;
  }
}
